@page "/shoppinglist"
@layout ShoppingListLayout
@using FirstBlazorApp.Data

<PageTitle>@title</PageTitle>
<h3>Shopping List</h3>
<br />

<EditForm Model="@grocery" OnSubmit="AddGrocery">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>
            Name:
            <InputText @bind-Value="grocery.Name" />
        </label>
    </p>

    <p>
        <label>
            Price:
            <InputNumber @bind-Value="grocery.Price" />
        </label>
    </p>

    <button type="submit" class="btn btn-primary">Add Grocery</button>

</EditForm>

<table class="table table-sm">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th></th>
    </tr>
    @foreach (var grocery in groceries)
    {
        <Item GroceryItem="@grocery" onGroceryPriceIncreased="onGroceryPriceIncreased"></Item>

    }
</table>
<h1>Total Price of List: (@groceries.Sum(grocery => grocery.Price)) Total Price:@sumPrices</h1>



@code {
    private string title = "Our Groceries";
    private string groceryName = "";
    private float groceryPrice;
    private float sumPrices = 0;
    private Grocery grocery = new();
    private List<Grocery> groceries = new List<Grocery>()
    {
        new Grocery(){Name="Rice", Price=2},
        new Grocery(){Name="Spice", Price=1},
        new Grocery(){Name="Pasta", Price=2}
    };

    private void AddGrocery()
    {
        groceries.Add(grocery);
        grocery = new();
        UpdateTotalAmount();
    }

    public void UpdateTotalAmount()
    {
        sumPrices = groceries.Sum(item => item.Price);

    }

    public void onGroceryPriceIncreased()
    {
        UpdateTotalAmount();
    }

}
